<div id="<%= dom_id publication %>">
  <p>
    <%= image_tag publication.image, size: "300x300"%>
  </p>

  <p>
    <strong>Tittle:</strong>
    <%= publication.tittle %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= publication.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= publication.user.email %>
  </p>

</div>
